*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}

/*--- HEADER ---*/

.navigationbar{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
      
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
    margin-right: 120px;
}
nav ul li{
    display:inline-block;
    margin: 35px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
nav ul li a{
    text-decoration: none;
    color:gray;
}
nav ul li a:hover{
    color: red;
}
.searchbar{
    width: 20%;
    max-width: 800%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background: rgb(68, 64, 64);
    color: aliceblue;
}

::placeholder{
    color: white;
}
.logo{
    padding-right: 50px;
    padding-left: 50px;
}



.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(240, 232, 224);
    margin-top: 100px;
    
}
.column{
    min-width: 300px;
}
.column img{
    width: 900px;
    height: 750px;
    padding: 50px 0;
}
.column h1{
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.column p{
    font-family: 'Poppins', sans-serif;
}
.shopbtn{
    display: inline-block;
    background-color: rgb(204, 9, 9);
    color: white;
    padding: 15px 30px;
    margin: 30px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}
.shopbtn:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.973), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 1s;
}

/*-- FEATURED PRODUCTS----*/


.title{
    text-align: center;
    padding-bottom: 20px ;
    color: rgb(68, 67, 67);
    position: relative;
}
.title::after{
    content: '';
    background: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.product{
    display: flex;
    align-items: center;
    margin: 30px;
    justify-content: space-around;
    padding: 40px;
}
.items{
    flex-basis: 30%;
    min-width: 110px;
    margin-bottom: 30px;
    transition: 0.5s;
}
.items:hover{
    transform: translateY(-5px);
}
.items img{
    width: 100%;
}
.product-container{
    max-width: 1600px;
    margin: auto;
    padding-top: 50px;

}

/*--- FOOOTER------*/
.footer{
    background-color: rgb(240, 232, 224);

}
.footer h2{
    margin-bottom: 20px;
    text-align: center;
}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}
.rows ul{
    list-style-type: none;
}
.socialmedia{
    color: rgb(70, 66, 66);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.icons{
    padding: 5px;
}
.col2 ul li{
    text-align: center;
}
.col3 ul li{
    text-align: center;
}
.footer hr{
    height: 3px;
    background-color: rgb(185, 113, 113);
    margin: 20px;
}
.copyright{
    text-align: center;
    padding-bottom: 10px;
}