*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;

}
.navigationbar{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%; 
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
    margin-right: 120px;
}
nav ul li{
    display:inline-block;
    margin: 35px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
nav ul li a{
    text-decoration: none;
    color:gray;
}
nav ul li a:hover{
    color: red;
}
.searchbar{
    width: 20%;
    max-width: 800%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background: rgb(68, 64, 64);
    color: aliceblue;
}
::placeholder{
    color: white;
}
.logo{
    padding-right: 50px;
    padding-left: 50px;
}


.container{
    background-color: rgb(240, 232, 224);
    margin-top: 100px;
}
.categories{
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.categories a{
    color:gray;
    padding: 20px;
}
.categories a:hover{
    color: red;
}
.product{
    display: flex;
    align-items: center;
    margin: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.items{
    flex-basis: 30%;
    min-width: 110px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
}
.items:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.973), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: 1s;
}
.items img{
    width: 100%;
}
.items p{
    font-weight: normal;
    text-align: right;
}
.product-container{
    max-width: 1600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
        
}
.rating{
    color: orange;
}
.see-morebtn{
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin-bottom: 40px;
}
.see-morebtn a:visited{
    color: red;

}
.see-morebtn a:hover{
    color: rgb(247, 89, 89);
}
/*--FOOTER-*/
.footer{
    background-color: rgb(255, 255, 255);

}
.footer h2{
    margin-bottom: 20px;
    text-align: center;
}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}
.rows ul{
    list-style-type: none;
}
.socialmedia{
    color: rgb(70, 66, 66);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.icons{
    padding: 5px;
}
.col2 ul li{
    text-align: center;
}
.col3 ul li{
    text-align: center;
}
.footer hr{
    height: 3px;
    background-color: rgb(185, 113, 113);
    margin: 20px;
}
.copyright{
    text-align: center;
    padding-bottom: 10px;
}