*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;

}


/*--- HEADER ---*/

.navigationbar{
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type:none;
    margin-right: 120px;
}
nav ul li{
    display:inline-block;
    margin: 35px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
nav ul li a{
    text-decoration: none;
    color:gray;
}
nav ul li a:hover{
    color: red;
}
.searchbar{
    width: 20%;
    max-width: 800%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background: rgb(68, 64, 64);
    color: aliceblue;
}
::placeholder{
    color: white;
}
.logo{
    padding-right: 50px;
    padding-left: 50px;
}



.container{
    background-color: rgb(240, 232, 224);
    margin-top: 100px;
    padding-bottom: 200px;
}
.categories{
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.categories a{
    color:gray;
    padding: 20px;
}
.categories a:hover{
    color: red;
}

.row{
    display: flex;
    align-items: center;
    margin: 30px;
    margin-bottom: 20px;
    justify-content: space-around;
}
.product-container{
    margin: 10px;
}
.product{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
}
.product .col1{
    flex-basis: 20%;
}
.product .col1 img{
    margin: 50px;
    padding: 10px;
}
.product .col1-description{
    flex-basis: 80%;
    padding: 10px;
    margin: 50px
}
.col1-description p{
    color: gray;
}
.rating{
    color: orange;
}
.col1-description-price{
    padding-bottom: 10px;
}
.col1-description-price p{
    font-size: 20px;
    color: orange;
}
.col1-description-price h4{
    font-weight: BOLD;
    font-size: 45px;
}
.col1-description select{
    display: block;
    padding: 10px;
    margin-top: 1px;
    border-radius: 10px;
}
.col1-description input{
    margin-top: 20px;
    width: 50px;
    height: 40px;
    padding-left:10px;
    margin-right: 20px;
}
.cartbtn{
    display: inline-block;
    background-color: rgb(204, 9, 9);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}



/*--Footer--*/

.footer{
    background-color: white;
}
.footer h2{
    margin-bottom: 20px;
    text-align: center;
}
.rows{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}
.rows ul{
    list-style-type: none;
}
.socialmedia{
    color: rgb(70, 66, 66);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.icons{
    padding: 5px;
}
.col2 ul li{
    text-align: center;
}
.col3 ul li{
    text-align: center;
}
.footer hr{
    height: 3px;
    background-color: rgb(185, 113, 113);
    margin: 20px;
}
.copyright{
    text-align: center;
    padding-bottom: 10px;
}




